.container-fluid {
    background-color: darkslategray ;
    width: 100%;
}

.display-4 {
    text-align: center;
    color: white;
    width: 100%;
}

.weatherForecastContainer {
    margin: 5px;
}

.cityCard {
    width: 20%;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}

.card-body {
    margin: 5px;
    border-radius: 5px;
}

.col-sm-12 {
    display: flex;
    justify-content: space-evenly;
}

.col-3 {
    background-color: lightgray;
}

.col-8 {
    margin: 20px;
}

.cityList {
    margin: 25px;
}

.h4 {
    margin: 25px;
}
